/*
@media (max-width: 992px){
    #main-nav ul {
        text-align: left;
    }
*/
/*
    #main-nav ul li {
        padding-left: 3%;
    }
*/
/*
    .header-logo {
        left: 2%;
    }
    .social-media {
        right: 2%;
    }

*/

@media (max-width: 767px) {
    #main-nav {
        left: 0;
        right: 0;
        top: 125px;
     }
    .header .b-header {
        height: 150px;
    }
    .header-logo {
        top: 0.6em;
    }
    .social-media {
        top: 3em;
    }
    section.slider {
        height: 60vh;
    }
    .b-slider h1 {
        top: 40%;
        left: 1.5em;
        margin-right: 1.5em;
        font-size: 2em;
     }
    .b-slider p {
        width: 96vw;
        left:2vw;
     }
}
