@media (max-width: 991px){
        .b-slider p {
        font-size: 1.2em;
    }
        .header-logo {
        left: 2%;
    }
        .social-media {
        right: 2%;
    }
    #main-nav ul {
        padding: 0;
    }

}

@media (max-width: 767px) {
    #main-nav {
        left: 5%;
        right: 5%;
        top: 125px;
     }
    #main-nav ul {
        padding: 0 0px;
    }
    .header .b-header {
        height: 170px;
    }
    .header-logo {
        top: 0.6em;
    }
    .social-media {
        top: 3em;
    }
    .b-slider h1 {
        top: 40%;
        left: 1.5em;
        margin-right: 1.5em;
        font-size: 2em;
     }
    .b-slider p {
        width: 90%;
        left:2vw;
        font-size: 1em;
        top: 65%;
     }
}

