*{
    box-sizing: border-box;
}
body {
    margin: 0;
}

/****************Navigation**********/

.header {
    width: 100%;
    margin-bottom: 0.5em;
}
.header .b-header {
    height: 133px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
#main-nav {
    position: absolute;
    top: 4em;
    left: 200px;
    right: 130px;
}
#main-nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 75px 0 30px;
}
#main-nav ul li {
    margin: 0;
    display: inline-block;
    padding: 0 10px;
}
#main-nav ul li a {
    color: #000;
    font-family: 'Cuprum', sans-serif;
    text-decoration: none;
    font-size: 19px;
    text-transform: uppercase;
}
#main-nav ul li a.spec {
    font-style: italic;
}
.header-logo {
    position: absolute;
    left: 4%;
    top: 1.5em;
}
.header-logo img {
    width: 166px;
    height: 101px;
}
.social-media {
    position: absolute;
    top: 3.4em;
    width: 97px;
    height: 27px;
    right: 4%;
}
.social-media a {
    position: absolute;
    text-align: center;
    transition: 0.8s ease;
    color: #000;
}
.social-media i {
    font-size: 1.4em;
    padding: 5px;
}
.social-media a:hover {
    background-color: #000;
    color: #fff;
}
.social-media a.facebook {
    left: 6px;
}
.social-media a.vk {
    left: 30px;
}
.social-media a.twitter {
    right: 0;
}

/************* Slider **********/

section.slider {
  max-width: 1200px;
  height: 78vh;
  min-height: 400px;
  max-height: 600px;
  margin: 0 auto;
  position: relative;
}
.b-slider {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%; 
}
.slider1 {
    background-image: url(../img/moda.jpg);
}
.slider2 {
    background-image: url(../img/venice.jpg);
}
.slider3 {
    background-image: url(../img/paris.jpg);
}
.slider4 {
    background-image: url(../img/amsterdam.jpg);
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5s;
  animation-name: fade;
  animation-duration: 8s;
  transform: translate3d(0, 0, 0);
}

/*@-webkit-keyframes fade {
   from {
      transform: translateX(0);
   }
   to {
      transform: translateX(100%);
   }
}
*/
/*@keyframes fade {
   from {
      transform: translateX(0);
   }
   to {
      transform: translateX(-200%);
   }
}*/

.b-slider h1 {
  position: absolute;
  z-index: 100;
  left: 2em;
  top: 45%;
  color: #fff;
  font-family: 'Cuprum', sans-serif;
  font-size: 2.5em;
  font-weight: normal;
}
.b-slider h1 span {
  background-color: rgba(0,0,0,0.7);
}

.b-slider p {
  position: absolute;
  z-index: 100;
  width: 60%;
  left: 4em;
  top: 70%;
  color: #000;
  font-family: 'Cuprum', sans-serif;
  font-size: 1.3em;
  font-weight: normal;
}
.b-slider p span {
  background-color: rgba(255, 255, 255, 0.7); 
}

.b-button {
  cursor: pointer;
  width: 40px;
  height: 50px;
  position: absolute;
  top: 45%;
  color: #000;
  font-weight: lighter;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
}

.b-button:hover {
  background-color: rgba(255, 255, 255, 0.6);
  transition: background-color 0.6s ease;
}

.left-button{
  border-radius: 0 4px 4px 0;
}

.right-button {
  border-radius: 4px 0 0 4px;
  right: 0px;
 }
.dots {
    width: 120px;
    position: absolute;
    bottom: 1%;
    margin: 0 auto;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}
.active {
    background-color: #fff;
    transform: scale(1.5);
}
.dot {
    display: inline-block;
    cursor: pointer;
    margin: 7px;
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-radius: 60%;
}

/********** Content *********/

.content {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;  
    flex-wrap: wrap;
}
.container {
    width: 350px;
    height: 400px;
}
.container h1, p {
    padding: 0 10px;
}
.content-img {
    width: 350px;
    height: 250px;
    background-position: center;
    background-size: cover;
}
.content-img1 {
    background-image: url(../img/IMG_7037.JPG);
}
.content-img2 {
    background-image: url(../img/IMG_7058.JPG);
}
.content-img3 {
    background-image: url(../img/IMG_7077.JPG);
}
.content-img4 {
    background-image: url(../img/IMG_1275.JPG);
}
.content-img5 {
    background-image: url(../img/IMG_1303.JPG);
}
.content-img6 {
    background-image: url(../img/IMG_1306.JPG);
}



